body {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(73, 9, 121, 0.9)), 
              url('/assets/img/fotos/background/login.webp') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

div[input-counter-credits] {
  display: flex;
}

div[input-counter-credits] > span {
  background-color: red;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.form-container {
  background: rgba(0, 0, 0, 0.85);
  border-radius: 15px;
  padding: 30px 40px;
  margin: 16px 0px ;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
  position: relative;
}

.form-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, #ad398c, #3f0f1e);
  border-radius: 15px 15px 0 0;
}

.form-container h2 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 15px;
  background: linear-gradient(90deg, #ad398c, #992151);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.submit-btn {
  background: linear-gradient(135deg, #ad398c, #3f0f1e);
  color: white;
  border: none;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  transition: transform 0.5s ease, background 1.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.submit-btn[disabled] {
  background: linear-gradient(135deg, #3f072e, #23030f);
  color: #838383;
  border: none;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: not-allowed;
}

.submit-btn[disabled]:hover {
  background: linear-gradient(135deg, #3f072e, #23030f);
  cursor: not-allowed;
  transform: translateY(0px);
}

.submit-btn:hover {
  background: linear-gradient(135deg, #992151, #8b00b9);
  transform: translateY(-2px);
}

.input-group button {
  height: 100%;
  border: 1px solid #ad398c;
}

.form-control {
  background: transparent;
  color: white;
  border: 1px solid #ad398c;
}

.form-control:focus {
  border-color: #ad398c;
  box-shadow: 0 0 10px #ad398c;
}

.success-state {
  font-size: 0.7em;
  color: #9f5;
}

.success-credits {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: #ad398c66;
  color: #f0f;
  border-radius: 8px;
  box-shadow: 2px 2px 6px #ad398c44;
}

.success-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*
  Square button
  Remove style default radio button
<?php foreach ($prices_packs as $key => $pack) : ?>
  <label class="radio-button">
    <input type="radio" name="pack" value="<?= $key ?>" required>
    <div class="option">
      <input type="hidden" name="credits" value="<?= $pack['Credits'] ?>">
      <input type="hidden" name="price" value="<?= $pack['Price'] ?>">
      <input type="hidden" name="name" value="<?= $pack['Name'] ?>">
      <div class="dot"></div>
      <span><?= $pack['Name'] ?></span>
    </div>
  </label>
<?php endforeach; ?>
*/
.radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-button .option {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #ad398c;
  border-radius: 10px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.radio-button .option .dot {
  width: 15px;
  height: 15px;
  border: 2px solid #ad398c;
  border-radius: 50%;
  margin-right: 10px;
  background: transparent;
  transition: background 0.3s ease;
}

.radio-button input[type="radio"]:checked + .option {
  background: linear-gradient(135deg, #ad398c, #3f0f1e);
  border-color: #992151;
}

.radio-button input[type="radio"]:checked + .option .dot {
  background: #ad398c;
}