body{
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(73, 9, 121, 0.9)), url(/assets/img/fotos/background/login.webp) no-repeat center center fixed;
    background-size: cover;
}
/* Popup */
.popup-container {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: 70%;
    height: 90vh;
    box-shadow: 0px 0px 40px #8c002591;
    z-index: 99999;
    overflow: hidden;
    transition: all 1s ease;
    margin: auto;
    display: flex;
}

.popup-content {
    padding: 30px;
    background-color: white;
    color: black;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    height: 100%;
}

.row {
    gap: 5%;
}

.popup-container.show {
    width: 90vw;
    /* Expande horizontalmente */
    height: 90vh;
    /* Expande verticalmente */
}

.popup-content h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #8C0025;
}

.popup-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.popup-perfil {
    width: 18rem;
    margin-left: 2rem;
}

.popup-picture {
    border-radius: 36% !important;
    margin-top: 1rem;
    box-shadow: 0px 0px 4px #ff004573;
    width: 150px;
    border: 1px solid #a600ff75;
    height: 155px;
}

.popup-name {
    color: #ffeeff;
    font-size: 2rem;
    text-shadow: 0px 0px 3px #d800ff;
    font-family: "Neonderthaw", cursive;
    pointer-events: none;
    transform: rotate(-3deg);
    background: #a90b35;
    border-radius: 22px;
    width: max-content;
    padding: 3px 16px;
    margin: -2rem auto 1rem;
}

.popup-button {
    background-color: #8C0025;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.cerrarboton {
    background-color: #8C0025;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 20px 20px;
    position: absolute;
    font-size: 1.5rem;
    cursor: pointer;
    width: 6%;
    bottom: 0;
    right: 0;
    height: 20px;
    justify-content: center;
    margin: 17px 28px;
    align-items: center;
    display: flex;
    transition: transform .3s ease;
}

.cerrarboton:hover {
    background-color: #5E3B76;
    transform: scale(1.1);
}

.popup-button:hover {
    background-color: #5E3B76;
}

.user-profile-card {
    max-width: 400px;
    margin: 0px auto 15px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para la sección de idiomas */
.languages {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 10px;
}

.language {
    display: flex;
    align-items: center;
    text-align: left;
}

.language-label {
    flex: 1;
    font-size: 14px;
    color: #666;
}

.language-bar {
    flex: 2;
    position: relative;
    height: 8px;
    background: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
}

.language-progress {
    height: 100%;
    background: #a3143b;
    border-radius: 4px;
    width: 0;
    /* Inicialmente vacío */
    transition: width 0.3s ease-in-out;
}

.encabezadoanuncio {
    align-items: center;
    display: flex;
    margin: auto;
    gap: 6px;
    width: 95%;
    color: white;
    background-color: #a90b35;
    padding: 4px 10px;
    border-radius: 5px;
    justify-content: center;
}

.descripcionanuncio {
    height: auto;
    min-height: 100px;
    padding: 10px 20px;
    width: 95%;
    margin: auto;
    max-width: 95%;
    text-align: left;
}

.costadosbox {
    padding: 5px 0px !important;
    text-align: center;
    background: #a23481;
}

.announcement-id {
    background: #bca1c7;
    padding: 0px 10px;
    font-size: 13px;
    border-radius: 4px;
    border: 2px solid #a02f77;
    text-shadow: 0 0 6px #ffffff;
    color: #ab4fb5;
}

.badge {
    border: 1px solid #9f6666;
}

.premium {
    background: linear-gradient(191deg, #fff9d1, #ffe680, #f5c03e, #d9a617, #d39726, #c58e20, #976b14);
    text-shadow: 0 0 4px black;
    box-shadow: 0px 0px 5px #ffe612;
}

.autosubidas {
    background: linear-gradient(154deg, #45208f, #ff07b5);
    text-shadow: 0 0 4px black;
    box-shadow: 0px 0px 5px #ff59ce;
}

.availability-days {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px solid #dddddd;
    border-radius: 12px;
    padding: 8px 16px;
    background: #f9f9f9;
}

.availability-days .day {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.availability-days .day-label {
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 0.3rem;
}

.availability-times {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.availability-times .time-slot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.availability-times .time-slot i:first-child {
    color: #ffa500;
    margin-right: 0.5rem;
}

.availability-times .time-slot i:last-child {
    margin-left: auto;
}

.titleservices {
    background: #a90b35;
    color: white;
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 95%;
    margin: auto;
    margin-bottom: -20px;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1;
    gap: 8px;
}

.services-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 0px 20px;
}

.service {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
    color: #444;
}

.service i {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columnas en pantallas más pequeñas */
    }
}


.mapaanuncio {
    min-height: 100px;
    width: 95%;
    margin: auto;
    max-width: 95%;
}

.locationanuncio {
    background-color: #a90b35;
    color: #ffffff !important;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-top: -2px !important;
    width: 95%;
    margin: auto;
    padding: 4px 0px;
    font-size: 1rem !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo del pin en el mapa */
.text-pink {
    color: #ff66cc;
    /* Color rosado */
}

/* Estilo base */
.glowing-button {
    position: relative;
    display: inline-block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border: none;
    text-shadow: 0 0 5px #00000059;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #ffc107;
    padding: 7px 10px;
}

/* Animación del brillo */
.glowing-button::before {
    content: '';
    position: absolute;
    top: -200%;
    /* Comienza fuera del botón */
    left: -100%;
    width: 300%;
    height: 150%;
    background: linear-gradient(100deg,
            rgba(252, 244, 223, 0.87) 0%,
            rgba(255, 255, 255, 0.637) 50%,
            rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 0px 18px rgba(255, 254, 247, 0.795);
    transform: rotate(45deg);
    animation: glow-animation 4s infinite linear;
}

/* Aseguramos que el brillo esté detrás del texto */
.glowing-button::before {
    z-index: 0;
}

/* Texto encima del brillo */
.glowing-button i,
.glowing-button span {
    position: relative;
    z-index: 1;
}

/* Hover: agrandar el botón ligeramente */
.glowing-button:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* Keyframes para el brillo */
@keyframes glow-animation {
    0% {
        top: -200%;
        left: -200%;
    }

    50% {
        top: 0%;
        left: 0%;
    }

    100% {
        top: 150%;
        left: 150%;
    }
}

.loginboton {
    background: #a53684;
    color: white;
    border-color: #a53684;
    margin-left: 5px;
}

.nearbutton {
    width: fit-content;
    display: flex;
    padding: 0.8em 1.1em;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
    background: linear-gradient(15deg, #af1770, #661b9b, #671138, #fec007, #e56201) no-repeat;
    background-size: 300%;
    background-position: left center;
    transition: background 0.3s ease;
    color: #fff;
    margin: 12px auto;
    border-radius: 15px;
}

.nearbutton:hover {
    background-size: 320%;
    background-position: right center;
}

.nearbutton:hover i {
    color: #8237c5;
    font-size: 1.5rem;
}

.nearbutton i {
    font-size: 1.4rem;
    color: white;
    transition: 0.3s ease;
}

.buttonfilter {
    width: fit-content;
    display: flex;
    padding: 0.8em 1.1em;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
    background: linear-gradient(15deg, #af1770, #661b9b, #671138, #fec007, #e56201) no-repeat;
    background-size: 300%;
    background-position: left center;
    transition: background 0.3s ease;
    color: #fff;
}

.buttonfilter:hover {
    background-size: 320%;
    background-position: right center;
}

.buttonfilter:hover i {
    color: #8237c5;
    font-size: 1.5rem;
}

.buttonfilter i {
    font-size: 1.4rem;
    color: white;
    transition: 0.3s ease;
}

#buscarclave {
    background-color: #e9cbe4;
}

.choices__inner {
    padding-bottom: 7.5px;
    background: #2f2f2f;
    border: 1px solid gray;
    border-radius: 7px;
}

.choices[data-type*=select-one]::after {
    border-color: #ffbdff transparent transparent !important;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
    background: linear-gradient(189deg, #676767, #000000, #996da5) !important;
    z-index: 10;
}

.choices__input {
    background: rgb(255, 199, 255) !important;
    border: 2px solid purple !important;
    border-radius: 12px !important;
}

.is-selected {
    background: rgba(70, 4, 190, 0.26) !important;
}

.is-highlighted {
    background: rgba(223, 37, 198, 0.589) !important;
}

/* Asegurar que el mapa se ajuste al contenedor */
#map {
    height: 300px;
    /* Ajusta según lo necesario */
    border-top-left-radius: 12px !important;
    /* Opcional, para bordes redondeados */
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    overflow: hidden;
    /* Para evitar problemas visuales */
}

.perfil {
    background: #b0279d;
    border-radius: 5px;
    padding: 4px 8px;
}

.perfil img {
    box-shadow: 0px 0px 4px #390b61;
}

#ciudadlocation {
    text-transform: capitalize;
}

.conectado {
    position: absolute;
    bottom: -15px;
    font-size: 35px;
    color: #00e700;
    left: 28px;
    text-shadow: -1px 0px 3px #53094bde;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        /* En su posición original */
    }

    40% {
        transform: translateY(-15px);
        /* Rebote hacia arriba */
    }

    60% {
        transform: translateY(-5px);
        /* Rebote menor */
    }
}

.locationdot {
    width: 3rem !important;
    animation: bounce 2s infinite;
}

.leaflet-popup {
    left: -91px;
    top: -96px
}

.leaflet-bottom {
    display: none;
}

.profile-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
}

.profile-item:last-child {
    border-bottom: none;
}

.profile-item[data-visible="false"] {
    display: none;
}

.label {
    font-weight: bold;
    color: #333;
}

.value {
    color: #666;
    text-align: right;
}


/* Animación cuando se muestre el popup */
@keyframes expand-popup {
    0% {
        top: 50%;
        width: 0;
        height: 0px;
    }

    25% {
        top: 50%;
        width: 2vw;
        height: 20px;
    }

    35% {
        top: 50%;
        width: 70vw;
        height: 10px;
    }

    50% {
        top: 45%;
        width: 90vw;
        height: 10px;
    }

    100% {
        top: 5%;
        width: 90vw;
        height: 90vh;
    }
}

/* Estilos de transición */
.popup-container.show {
    animation: expand-popup 1s ease forwards;
}

@keyframes collapse-popup {
    0% {
        top: 5%;
        width: 90vw;
        height: 90vh;
    }

    50% {
        top: 45%;
        width: 70vw;
        height: 10px;
    }

    75% {
        top: 50%;
        width: 2vw;
        height: 20px;
    }

    100% {
        top: 50%;
        width: 0;
        height: 0;
    }
}

/* Clase para animar el cierre */
.popup-container.hide {
    animation: collapse-popup .6s ease forwards;
}


main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    max-width: 1200px;
    height: 80vh;
    padding: 1rem;
    width: 100%;
    height: 420px;
    margin-top: -12px;
}

article {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    background-color: hsl(210, 50%, 90%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
}

.tarifa-creative {
    animation: pulse 1.5s infinite;
    margin-top: -5px;
}

.tarifa-label {
    font-size: 1rem;
    font-weight: bold;
    color: #a90b35;
    background-color: #f4f0f0;
    padding: 5px 10px;
    border: 1px solid #dddddd;
    border-radius: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

/* Diseño Bento Grid */
article:nth-child(1) {
    grid-column: span 2;
    /* Ocupa toda la fila */
    grid-row: span 1;
    /* Solo una fila */
    box-shadow: 0px 0px 5px #b3298b;
}

article:nth-child(2) {
    grid-column: span 1;
    /* Ocupa una columna */
    grid-row: span 2;
    /* Ocupa dos filas */
    box-shadow: 0px 0px 5px #5a00ff;
}

article:nth-child(3) {
    grid-column: span 1;
    /* Ocupa una columna */
    grid-row: span 1;
    /* Solo una fila */
    box-shadow: 0px 0px 5px #5a00ff;
}

article:nth-child(4) {
    grid-column: span 1;
    /* Ocupa una columna */
    grid-row: span 1;
    /* Solo una fila */
    box-shadow: 0px 0px 5px #b3298b;
}

/* Animación de aparición */
article.reveal {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

/* Efecto hover */
article:hover {
    transform: scale(1.05);
}

/* Estilos responsivos */
@media (min-width: 768px) {
    main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    article:nth-child(2) {
        grid-row: span 2;
        /* Tercer artículo ocupará dos filas */
    }
}

@media (max-width: 1650px) {
    .popup-container {
        width: 80%;
    }

    .row {
        gap: 2%;
    }
}

@media (max-width: 1360px) {
    .row {
        gap: 0%;
    }
}

@media (max-width: 1260px) {
    .popup-container {
        width: 90%;
    }

    .popup-perfil {
        margin-left: 0;
    }
}

@media (min-width: 1024px) {
    main {
        grid-template-columns: repeat(4, 1fr);
    }

    article:nth-child(2) {
        grid-column: span 2;
        /* Segundo artículo ocupará dos columnas */
    }
}

@media (max-width: 1000px) {
    .col-8 {
        width: 100%;
    }

    .col-2 {
        margin-top: 3%;
        width: 43%;
    }
    .row-container{
        display: flex;
        justify-content: center;
    }
    .popup-perfil {
        width: 100%;
    }
}

.include-footer {
    margin-left: 250px;
}

/* Responsive */
@media (max-width: 768px) {
    #sidebar {
        width: 0;
    }

    #navbar {
        left: 0;
        width: 100%;
    }

    .content {
        margin-left: 0;
    }

    .marca {
        font-size: 1.2em;
    }

    .logo {
        margin-left: 3.5rem;
    }

    .brand-logo img {
        width: 35px;
    }

    .include-footer {
        margin-left: 0px;
    }

    .col-2 {
        width: 60%;
    }

    .popup-button {
        font-size: 0.8rem;
    }
}

@media (max-width: 468px) {
    .popup-perfil {
        width: 100%;
        margin-left: -0.2rem;
    }

    .col-8 {
        display: none;
    }

    .col-2 {
        margin-top: 0;
        width: 100%;
    }
}